// Variables
$pink: #C46E92;
$text: #818181;
$lightgrey: #c1c1c1;


@import url(https://fonts.googleapis.com/css?family=Playball);

//Font families
$playball: 'Playball', Arial, sans-serif;
$light-font: 100;
