// Variables
$pink: #C46E92;
$text: #343334;
$mediumgrey: #767576;

@import url(https://fonts.googleapis.com/css?family=Playball);

//Font families
$playball: 'Playball', Arial, sans-serif;
$light-font: 100;
