@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
  font-weight: $light-font;
  color: $text;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: $pink;
  padding: 4em 1.5em;
}

h1 {
  text-align: center;
  font-weight: $medium-font;
  color: $white;
  margin: 0;
}

h2 {
  font-family: $playball;
}

.bah-accordion {
  width: 100%;
  margin: 10px auto 30px auto;
  text-align: left;
}

.bah-accordion_element_header {
  margin-top: 30px;
  height: 2em;
  padding-bottom: 10px;
  position: relative;
  z-index: 20;
  display: block;
  cursor: pointer;

  &:hover {
    color: $pink;
  }
}

.bah-accordion_element_check:checked + .bah-accordion_element_header{
  height: 2em;

  &:hover:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 2em;
    right: 13px;
    top: 7px;
  }
}

.bah-accordion_element_check {
  display: none;
}

.bah-accordion_element_content {
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  opacity: 0;
  padding-left: 2.5em;
}

.bah-accordion_element_check:checked ~ .bah-accordion_element_content {
  margin-top: 1em;
  height: auto;
  opacity: 1;
  padding-left: 2.5em;
  border-top: 1px solid $mediumgrey;
  padding-top: 10px;

  -webkit-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}

@media only screen and (min-width: 60em) {
  .page-wrap {
    width: 70%;
    margin: 0 auto;
  }
}
