@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.bah-accordion {
  width: 100%;
  margin: 10px auto 30px auto;
  text-align: left;
}

.bah-accordion_element_header {
  height: 30px;
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  height: 30px;
}

.bah-accordion_element_header:hover {
  background: #fff;
}

.bah-accordion_element_check:checked + .bah-accordion_element_header,
.bah-accordion_element_check:checked + .bah-accordion_element_header:hover {
  height: 30px;
}

.bah-accordion_element_header:hover:after,
.bah-accordion_element_check:checked + .bah-accordion_element_header:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
}

.bah-accordion_element_check {
  display: none;
}

.bah-accordion_element_content {
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;

  transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
}

.bah-accordion_element_check:checked ~ .bah-accordion_element_content {

  transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
}

.bah-accordion_element_check:checked ~ .bah-accordion_element_content-small {
  height: 140px;
}

.bah-accordion_element_check:checked ~ .bah-accordion_element_content-medium {
  height: 180px;
}

.bah-accordion_element_check:checked ~ .bah-accordion_element_content-large {
  height: 230px;
}
